# Игнорировать папку сборки CMake
build/
cmake-build-debug/
out/

# Игнорировать скомпилированные бинарники (если они попали в корень)
app
*.exe
*.out
*.app

# Игнорировать отладочные символы macOS
*.dSYM/

# Игнорировать системные файлы macOS
.DS_Store

# Игнорировать настройки VS Code (опционально)
# Лучше игнорировать, так как у других могут быть свои настройки путей
.vscode/
